<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/element/dom-repeat.html">

<dom-module id="my-toni-micomponente">
  <template >
    <style include="shared-styles">
      :host{
        display:inline-block;
        background-color: blue;
          }
    </style>
 <div class="card" >
   <div><span>Mi primer componente Polymer </span></div>
   <div><span>[[saludo]]</span></div>
   <div><span>[[contador]]</span></div>
    <div><span>[[textoInput]]</span></div>
 </div>
 <div class= "nuevo">

  Título<div><input type="text" name="titulo" id="titulo" value="titulo"></div>

  Texto<div><input type="text" name="texto" id="texto"value="texto"></div>


  <button type="button" name="nuevopost" on-click="insertarPost">Insertar Posts</button>
  </div>
  <div class="bot">
  <button type="button" name="nuevopost2" on-click="obtenerPosts">Mostrar Posts</button>
  </div>
  <template is="dom-repeat" items="[[listado]]">
    <div class="card">
      <h2>{{item.titulo}}</h2>
      <h3>{{item.texto}}</h3>
    </div>
  </template>
</template>



  <script>
    Polymer({
      is:'my-toni-micomponente',
      properties:{
        saludo:String,
        contador: Number,
        listado:{
          type: Array,
          notify: true
        },
      },
      listeners:{
      //  'tap':'obtenerPosts',
      //  'prueba':'incrementar'
      },
      /*incrementar: function(){
        this.contador = this.contador + 1;
        this.listado.push(this.contador);
      }*/
      insertarPost: function(){
        const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=plZnUksVVShCyccLHHF60bQnVze1kN0s";

        var peticion = new XMLHttpRequest();
        peticion.open("POST",URL,false);
        peticion.setRequestHeader("Content-Type","application/json");

        var titulo = document.getElementsByName("titulo")[0].value;
        var texto = document.getElementsByName("texto")[0].value;

        var postJson = '{"titulo":"'+titulo+'","texto":"'+texto+'"}'

         console.log(postJson);

         peticion.send(postJson);
      },
      obtenerPosts: function(){
        const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=plZnUksVVShCyccLHHF60bQnVze1kN0s";

        var peticion = new XMLHttpRequest();
        peticion.open("GET", URL, false);
        peticion.setRequestHeader("Content-Type","application/json");
        peticion.send();

        var response1 = JSON.parse(peticion.responseText);
        this.listado = response1;
      }
    })
    /*function mostrarPosts(){
      const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=plZnUksVVShCyccLHHF60bQnVze1kN0s";

      var peticion = new XMLHttpRequest();
      peticion.open("GET", URL, false);
      peticion.setRequestHeader("Content-Type","application/json");
      peticion.send();
      sessionStorage["post"] = peticion.responseText;
      var response1 = JSON.parse(peticion.responseText);
      this.listado = response1;

    }*/

  </script>

</dom-module>
